

.top-bar {
    height: 60px;
    border-bottom: 1px solid rgb(229, 234, 242);
    display: flex;
    flex-direction: row;
    background-color: #670073;

    .logo-area {
        display: flex;
        flex-direction: row;
        align-items: center;


        color: white;
        flex-grow: 0;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;

        .logo-text {
            margin-right: 10px;
        }

        .logo-image {
            position: relative;
            top: 3px;
        }
    }
}